<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,0); }
.s5 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_main.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s4"> 
</span><span class="s2">&lt;</span><span class="s5">RelativeLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/manhinh&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingBottom=</span><span class="s3">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingTop=</span><span class="s3">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;com.myproject.huutam.test.MainActivity&quot;</span><span class="s2">&gt;</span><span class="s4"> 
    </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/imgbtOpen&quot;</span><span class="s2"> 
    </span><span class="s1">android:background=</span><span class="s3">&quot;@null&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;60dp&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;60dp&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
    </span><span class="s1">app:srcCompat=</span><span class="s3">&quot;@drawable/open&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_alignParentTop=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
    </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitXY&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/imgbtCamera&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@null&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;60dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;60dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;100dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:srcCompat=</span><span class="s3">&quot;@drawable/camera&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentTop=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitXY&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">ImageView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/imageView&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;231dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;308dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@id/imgbtOpen&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:padding=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:cropToPadding=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/background_image&quot;</span><span class="s2"> 
        </span><span class="s1">app:srcCompat=</span><span class="s3">&quot;@drawable/tam&quot;</span><span class="s2"> 
        </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitXY&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/imageButton&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@null&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;60dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;60dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;15dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:srcCompat=</span><span class="s3">&quot;@mipmap/ic_launcher&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentBottom=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitXY&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/imageButton2&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@null&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;60dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;60dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;15dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;100dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:srcCompat=</span><span class="s3">&quot;@drawable/star&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentBottom=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitXY&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/imageButton3&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@null&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;60dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;60dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;15dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;180dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:srcCompat=</span><span class="s3">&quot;@drawable/la&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentBottom=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitXY&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/imageButton4&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@null&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;60dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;60dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;15dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;260dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:srcCompat=</span><span class="s3">&quot;@drawable/cuoi&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentBottom=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitXY&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
</span><span class="s2">&lt;/</span><span class="s5">RelativeLayout</span><span class="s2">&gt;</span><span class="s4"> 
</span></pre>
</body>
</html>